<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/template/head.ejs %>
    <title><%= siteTitle %></title>
  </head>
  <body>
    <%= message %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
