<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body>
    <% include partials/template/header.ejs %>
    User Page
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
